.card {
    display: block;
    background-color: #213547;
    padding: 0;
    border-radius: 10px;
    border: 1px solid green;
}

.card .header {
    display: block;
    text-align: left;
    padding-left: 5%;
    MARGIN: 0;
    background-color: purple;

}

.card .body {
    display: block;
    text-align: left;
    border: 1px solid orange;
    margin-top: 5%;
}
