.card {
    background-color: #213547;
    padding: 1vw;
    border-radius: 10px;
}

.card .header {
    display: block;
    text-align: left;
    width: 100%;
    background-color: chartreuse;
}

.card .body {
    display: block;
    width: 100%;
    text-align: left;
}
