
:root {
    --fg: #080808;
    --bkg: #2fabc1;
}
body {
    overflow: auto;
    height: 100vh;
}

#root {
    font-family: "Arial", "Helvetica", "sans-serif";
    background-color: var(--bkg);
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*******************************************************************************
* Header
*******************************************************************************/

.header {
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: orange;
    padding: 0;
    margin: 0;
}

.header .title {
    width: 70%;
    text-align: left;
    padding-left: 2vw;
    margin: 0;
}
.header .button-div {
    background-color: darkgray;
    width: 30%;
    display: flex;
    justify-content: space-between;
    margin-right: 2vw;
}

.header .button-div button {
    height: 100%;
    display: inline-block;
}

.header .button-div button:hover {
    background-color: cyan;
    border-color: black;
    color: black;
}

/*******************************************************************************
* NPC list
*******************************************************************************/
.npcList {
    flex: 1;
    grid-area: content;
    background-color: aquamarine;
    height: 100%;
}


/*******************************************************************************
* Footer
*******************************************************************************/
.footer {
    display: block;
    width: 100%;
    background-color: orange;
}
.footer .navigation {
    display: flex;
    width: fit-content;
    margin: 0 auto;
    background-color: salmon;
}

.footer .navigation button {
    margin: auto 0;
    padding-top: 0;
    padding-bottom: 0;
    height: fit-content;
}

.footer #pageOf {
    height: fit-content;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
