
body {
    overflow: auto;
    height: 100vh;
}

#root {
    font-family: "Arial", "Helvetica", "sans-serif";
    background-color: var(--bkg);
    width: 100%;
    margin: 0;
    padding: 0;
    height: 100%;
}

.App {
    display: flex;
    flex-direction: column;
    height: 100%;
}

/*******************************************************************************
* Header
*******************************************************************************/

.header {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    background-color: var(--fg);
    padding: 0;
    margin: 0;

}

.header .title {
    width: 70%;
    text-align: left;
    margin: 0;
    padding: 10px 2vw;
}
.header .button-div {
    margin-right: 2vw;
}

.header .button-div button {
    height: 100%;
    display: inline-block;
}

.header .button-div button:hover {
    background-color: cyan;
    border-color: black;
    color: black;
}

/*******************************************************************************
* NPC list
*******************************************************************************/
.content {
    display: flex;
    flex-direction: column;
    height: 100%;
    min-height: 500px;
    /*overflow-y: auto;*/
}
.npcList {
    display: flex;
    /*background-color: aquamarine;*/
    height: 100%;

    padding-top: 2vh;
    overflow-y: scroll;
}

.npcList h2 {
    margin: auto;
}

.npcList table {
    flex: 2;
}

.npc-list-table {
    border-collapse: collapse;
    margin-bottom: 50px;
    margin-top: 50px;
}

.npc-list-table th{
    background-color: var(--fg);
    pading: 0.5rem;
}

.npc-list-table td, th {
    padding: 0.5rem;
    font-size: 14pt;
}

.npc-list-table th {
    max-height: 20px;
}

.npc-list-table tr, th {
    border-bottom: 1px solid;
}

.npc-list-table .row:hover {
    background-color: var(--fg);
}

.npc-list-table td:nth-child(1), th:nth-child(1){
    text-align: left;
    padding-left: 3vw;
}


/*******************************************************************************
* Footer
*******************************************************************************/
.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    background-color: var(--fg);
}
.footer .navigation {
    display: flex;
    width: fit-content;
    margin: 0 auto;
}

.footer .navigation button {
    margin: auto 0;
    padding-top: 5px;
    padding-bottom: 5px;
    height: fit-content;
}

.footer #pageOf {
    height: fit-content;
    margin: auto;
    padding-left: 5px;
    padding-right: 5px;
}
