:root {
    --fa-primary-color: purple;
}

.npcDetails {
    margin: auto;
    display: block;
    border: 2px red dashed;
    overflow-y: auto;
}

.npcDetails label {
    display: table-cell;
    margin: 0;
    padding: 0;
}

.npcDetails input {
    display: table-cell;
    height: fit-content;
    border: 1px green solid;
}

.npcTable {
    border-collapse: collapse;
}

.npcTable td {
    padding: 5px;
}

.npcTable textarea {
    text-align: left;
}

.npcTable td:nth-child(2) {
    text-align: start;
}

.npcTable i {
    background-color: purple;
}
